@media (max-width: 767px)
{
    .dXbTGN {
        text-align: center;
    }
}
@media (max-width: 1279px)
{
.dXbTGN {
    display: block;
}
}
.dXbTGN {
    width: 70%;
     background-color: rgb(255, 255, 255);
    top: 0px;
    z-index: 1;
    padding: 0px;
    margin-top: 10px;
}
@media (max-width: 1280px)
{
.fXmDiD {
    display: none;
}
}

@media (min-width: 1280px)
{
.dXbTGN {
    display: none;
}
}

.bIAQsw {
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: auto;
}

.fXmDiD {
    min-height: 100vh;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    flex: 0 0 280px;
    border-right: 1px solid rgb(228, 234, 238);
}


.MUmtV {
    background-color: rgb(246, 248, 249);
    flex: 1 1 0%;
}

.ecBduw {
    width: 650px;
    height: 100%;
    margin: auto;
}

.jDkJnf {
    width: 100%;
    padding: 0px 25px 15px;
}

.pERxi {
    width: 100%;
    padding: 56px 0px 0 35px;
    margin: -11px -50px;
}

.eDZXVP {
    width: 620px;
height: 39px;
font-size: 32px;
letter-spacing: 0px;
line-height: 50px;
color: #404950;
font-family: "Proxima Nova";
font-weight: 800;
  }

  .eHWPx {
    width: 620px;
height: 59px;
font-size: 20px;
letter-spacing: 0px;
line-height: 32px;
color: #404950;
font-family: "Proxima Nova";
  }
 @media (max-width: 1280px)
  {
  .eHWPx {
    width: 326px;
    height: 68px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    margin-left: 8px;
    color: #404950;
    font-family: "Proxima Nova";  }
  }
 .Input{
    background-color: #000000;
    border: 1px solid #217be2;
    font-size: 16px;
letter-spacing: 0px;
color: #404950;
font-family: "Proxima Nova";

  }

   
  .fullname{
    font-size: 22px;
    letter-spacing: 0px;
    color: #404950;
    font-family: "Proxima Nova";
    border: 0;
    outline: 0;
    border-bottom: 2px solid #217be2;
    margin: 25px 0 17px 0px;
}




.stepInside{

width: 100%;
height: 35px;
border-radius: 5px;
background-color: #6399c7;
}

@media (max-width: 1280px)
  {
  .stepInside {
    width: 60%;
height: 35px;
border-radius: 5px;
background-color: #6399c7;  }
  }


.social{
    width: 160px;
    height: 19px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #197ee2;
    font-family: "Proxima Nova";

}

.signup{
  margin-top: 20px;
  font-size: 16px;
  margin-left: 26px;
  padding: 0px 10px 1px 10px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa {
    padding: 20px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fbtext{
    width: 65px;
    height: 15px;
    font-size: 14px;
    color: #424343;
    font-family: "Proxima Nova";
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }
  .gogtxt{
    width: 50px;
    height: 15px;
    font-size: 15px;
    color: #424343;
    font-family: "Proxima Nova";
  }

  @media (min-width: 1280px)
{
.store {
    display: none;
}
}

@media (max-width: 1280px)
{
.out {
    display: none;
}
}

.approw{

  margin-left: 51px;
  margin-top: 21px;
}
 .terms{
  width: 286px;
    height: 15px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #788995;
    font-family: "Proxima Nova";
    text-align: center;
    margin: 21px 53px 0;

 }

 /**  index 2**/

 .update{
  width: 496px;
  height: 22px;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 32px;
  color: #404950;
  font-family: "Proxima Nova";
  font-weight: bold;
 }

 .johnthan{
  width: 496px;
  height: 39px;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 50px;
  color: #404950;
  font-family: "Proxima Nova";
  font-weight: 800;
 }

 .teal{
  width: 300px;
  height: 18px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #404950;
  font-family: "Proxima Nova";
  font-weight: bold;
 }